*{
    margin: 0px;
    padding: 0px;
}
body {
    padding: 40px;
}

.cajassection{
    max-width: 1020px;
    border: 3px solid green;
}

.caja
{
    display: block;
    width: 250px;
    height: 250px;
    background-color: lightblue;
    text-align: center;
    border: 10px solid rebeccapurple;
    margin: 15px;
    padding: 20px;
    float: left;


}
p{
    line-height: 200px;
}
h2{
    line-height: 200px;
}
.clearfix{
    float: none;  /* limpia todos los flotados */
    clear: both;
}